<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Mes communes</h1>
<ul>
    {% for commune in mes_communes %}
        <li>{{ commune|capfirst }}</li>
    {% endfor %}
</ul>

<form method="POST">{% csrf_token %}
    <label for="nom">Nom</label>
    <input type="text" name="nom">
    <label for="annee_de_creation">Annee de creation</label>
    <input type="number" name="annee_de_creation">
    <label for="code_postal">Code postal</label>
    <input type="text" name="code_postal">
    <label for="departement">Numero de département</label>
    <input type="text" name="departement">
    <label for="type_commune">Type de commune</label>
    <input type="text" name="type_commune">
    <input type="submit" value="Enregistrer">
</form>

{# Ceci est un commentaire #}
</body>
</html>